<section class="welcome container-fluid" data-ng-controller="IndexController">
  <div class="col-md-12 first">
    Get started, it's easy:
    </div>
    <div class="col-md-12 row">
    <div class="info col-md-12">
      <div class="docs">
        <div class="welcome-sprite"></div>
        <h3>Node.js + Express + Monitoring template</h3>
        <div>
          <pre>
git clone https://github.com/devmetrics/devmetrics-nodejs devmetrics
git clone https://github.com/devmetrics/example-node-express
cd example-node-express
npm install
node server-express
          </pre>
        </div>
        <p class="docs-desc">
        Open in browser local <a target='_blank' href="http://127.0.0.1:3000/hello">http://127.0.0.1:3000/hello</a><br>
        Later <b>devmetrics-nodejs</b> will be just a dependency for npm
        <br><br> See source on github, later it will be as nice here:
          <a target='_blank' href="https://github.com/devmetrics/example-node-express/blob/master/server-express.js">github file source</a>
        </p>
      </div>
      <div class="packages">
        <div class="welcome-sprite"></div>
        <h3>MEAN.IO stack</h3>
        <div>
        <p class="docs-desc">
          1. add devmetrics to requirements<br>
          2. add one line to config/express.js:
        </p><br><br><br>
      </div>
          <div>
          <pre>
require('./middlewares/devmetrics')(app, config.logging, {'host': 'ec2-54-152-18-234.compute-1.amazonaws.com', 'token': 'token-123128'});
          </pre>
          </div>
          <p class="docs-desc">
            Enjoy <a target='_blank' href="http://ec2-54-152-18-234.compute-1.amazonaws.com/kibana/?#/dashboard/token-dashboard-andrew-mean?_a=(filters:!((meta:(apply:!t,disabled:!f,index:'statsd-*',key:ns,negate:!f,value:token-123128),query:(match:(ns:(query:token-123128,type:phrase))))),panels:!((col:1,id:Requests-Vs-Error-1,row:3,size_x:11,size_y:2,type:visualization),(col:1,id:Requests-Count-Andrew,row:1,size_x:6,size_y:2,type:visualization),(col:7,id:Requests-Time-Avg-Andrew,row:1,size_x:5,size_y:2,type:visualization),(col:1,id:Token-Based-Webrequest-Log-Andrew,row:8,size_x:11,size_y:5,type:search),(col:1,id:Token-Based-Not-Webrequest-Log-Andrew,row:5,size_x:11,size_y:3,type:search)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:token-dashboard-andrew-mean)&_g=(time:(from:now-1h,mode:quick,to:now))">kibana dashboard</a><br>
        See details in <a target='_blank' href="https://github.com/devmetrics/mean/commit/ebe48ccd21101eff502ad8f79848daeb1a08a8d5">git diff</a><br>
         Or just clone mean.io fork with monitoring:
          <a target='_blank' href="https://github.com/devmetrics/mean">https://github.com/devmetrics/mean</a>
        </p>
      </div>
      <div class="community">
        <div class="welcome-sprite"></div>
        <h3>Basic node.js app</h3>
          <div>
            <pre>
var host = 'ec2-54-152-18-234.compute-1.amazonaws.com';
//var host = 'ip-172-31-54-2.ec2.internal';
var token = 'token-1234567890';
// Global logging object initialization
global.winston    = require('winston'); require('winston-logstash');
global.winston.add(winston.transports.Logstash, {port: 5545, node_name: token, host: host  });
// Global metric object initialization
var lynx = require('lynx'); global.metric = new lynx(host, 5546, {scope:token});


// Main
var http = require('http');
var server = http.createServer(function (req, res) {
  global.metric.increment('webserver.index.request-count');
  var timer = global.metric.createTimer('webserver.index.response-time');

  if ('/index' == require('url').parse(req.url).pathname) {

    res.writeHead(200, {'Content-Type': 'text/plain'});
    res.end('Hello World\n');
  }
  else{
    global.metric.increment('webserver.index.error-404');
    global.winston.error('Request Error: 404. File not found:'+ req.url);
    res.writeHead(404, {'Content-Type': 'text/plain'});
    res.end();
  }
  setTimeout(function(){timer.stop()},2000);

}).listen(1337, '127.0.0.1');
global.winston.info('Server running at http://127.0.0.1:1337/');

process.on('SIGTERM', function () {
  server.close(function () {
    global.winston.info('Server has stopped');
    process.exit(0);
  });
});
            </pre>
          </div>
      </div>
    </div>
  </div>
</section>
